{% extends "layouts/adverts.html.twig" %}

{% block title %}Log in!{% endblock %}

{% block content %}
    <div id="features" class="section wb">
        <div class="container">
            <div class="section-title row">
                <div class="col-md-8 col-md-offset-2">
                    <h3>Register</h3>
                    {{ form(registerForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
